/* select2 */
@import "~select2/dist/css/select2.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.css";

/* datatables */
@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~datatables.net-buttons-bs/css/buttons.bootstrap.css";

/* fontawesome */
@import "~@fortawesome/fontawesome-free/css/all.css";

/* flatpickr */
@import "~flatpickr/dist/flatpickr.css";
@import "~flatpickr/dist/plugins/monthSelect/style.css";

body {
    font-family: Segoe UI Light, 微軟正黑體;
    /* font-weight: bold; */
    /*background-color: #eee;*/
}

/* 停用或作廢時顯示 */
.tr-deactive {
    background-color: #aaaaaa !important;
    color: #ffffff !important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.2em;
}

.form-signin .form-control:focus {
    z-index: 2;
}

table.dataTable thead .sorting {
    background: none;
}

table.dataTable thead .sorting_asc {
    background: none;
}

table.dataTable thead .sorting_desc {
    background: none;
}

span.select2-container {
    width: 100% !important;
    position: relative;
}

.modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 10px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

span.error {
    color: red;
    display: inline-block;
    margin-left: 10px;
}

inline {
    display: inline;
}

.add_row {
    margin-top: 5px;
    margin-bottom: 5px;
    border-left-width: 8px;
}

span .errorMsg {
    color: red;
    display: inline-block;
    margin-left: 10px;
}

.redtext {
    color: red;
}

.big-checkbox {
    width: 25px;
    height: 25px;
}
.theme-color {
    color: #138cde;
}

.sysinfo-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.sysinfo {
    position: fixed;
    top: 15vh;
    right: 20px;
    z-index: 20;
}

.sysinfo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sysinfo-content {
    margin: 0;
}

.sysinfo-li {
    padding: 10px 15px;
    border-left: solid 4px #aaaaaa;
    color: #aaaaaa;
    line-height: 1.3;
    cursor: pointer;
}

.sysinfo-activie {
    color: #138cde;
    border-left: solid 4px #138cde;
}
